<!DOCTYPE html>
    <html>
    <head>
        <title>Mi primera plantilla</title>
    </head>
    <body>
        <h1>PLANTILLA PRINCIPAL</h1>
        <hr/>
        <div style="background:lightblue">
            <p>ZONA DE VISTAS</p>
            @RenderBody()
        </div>
        <hr/>
        <h4>Footer</h4>
    </body>
    </html>