<!doctype html>
<html>
    <head>
        <title>PLantilla personalizada</title>
    </head>
    <body>
        <h1>Nueva plantilla</h1>
        <div>
            <h1>Zona de vistas</h1>
            @RenderBody()
        </div>
    </body>
</html>
